asttokens
backcall
backports.functools-lru-cache
certifi
charset-normalizer==3.3.2
cycler==0.11.0
decorator
docopt==0.6.2
entrypoints
executing
fonttools==4.38.0
idna==3.4
ipykernel
ipython
ipython-genutils==0.2.0
jedi
joblib==1.3.2
jupyter-client==5.3.3
jupyter_core==4.12.0
kiwisolver==1.4.5
liac-arff==2.5.0
loguru==0.7.2
matplotlib==3.5.3
matplotlib-inline
minio==7.1.17
numpy==1.18.0
openml==0.14.1
packaging==23.2
pandas==1.2.0
parso
pexpect
pickleshare
Pillow==9.5.0
pipreqs==0.4.13
prompt-toolkit
ptyprocess
pure-eval
pyaml==23.5.8
Pygments
pyparsing==3.1.1
python-dateutil
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq
requests==2.31.0
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.7.3
six
stack-data
threadpoolctl==3.1.0
tornado
traitlets
typing_extensions==4.7.1
urllib3==2.0.7
wcwidth
xmltodict==0.13.0
yarg==0.1.9
